{% set sd = summary['source'] %}
# Model Import Summary from NetBox {{ netbox_version }} to Nautobot {{ nautobot_version }}

This section lists all the models present in the NetBox source data that can be imported for this version pair, including a reason if a model is not imported. Additionally, some of the model fields might not have a Nautobot equivalent or are explicitly disabled, summarized below.

| Status | NetBox -> Nautobot Model | Imported Fields | Missing Fields | Disabled Fields | Comments |
| - | - | - | - | - | - |
{% for netbox_ct, ct_data in sd.items() %}
{% set f_disabled = ct_data['fields'].values() | selectattr('disable_reason') | list | length %}
{% set f_missing = ct_data['fields'].values() | selectattr('nautobot_internal_type','eq','NotFound') | list | length %}
{% set f_imported = ct_data['fields'] | length - f_missing - f_disabled %}
| {% if ct_data['disable_reason'] %}:x:{% else %}{{ ':white_check_mark:' if f_missing == 0 else ':warning:' }}{% endif %} | **{{ netbox_ct }}** -> **{{ ct_data['nautobot_content_type'] }}** | `{{ f_imported }}` | `{{ f_missing }}` | `{{ f_disabled }}` | {{ ct_data['disable_reason'] }} |
{% endfor %}

## Model Fields Mapping

For more details regarding individual fields for the models listed above, please visit the [Field Mappings](../../dev/field_mappings/{{netbox_version}}-to-{{nautobot_version}}.md) page.
